.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);
}

.readonly {
    opacity: 0.7;
}
