.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input {
    outline: none;
    background: none;
    border: none;
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
